*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #091921;
}
body.light {
  background: #d1dae3;
}
.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #091921 url('../img/clock.png');
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.03), inset 0 15px 15px rgba(0, 0, 0, 0.03);
}
.clock:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  z-index: 10000;
}
.light .clock {
  background: #d1dae3 url('../img/clock.png');
  background-size: cover;
  border: 4px solid #cad3dc;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -8px -8px 15px rgba(255, 255, 255, 0.5), inset 10 10px 10px rgba(0, 0, 0, 0.1);
}
.light .clock:before {
  background: #008eff;
}
.hour,
.hr {
  width: 160px;
  height: 160px;
}
.hour {
  position: absolute;
}
.hr {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.min,
.mn {
  width: 190px;
  height: 190px;
}
.min {
  position: absolute;
}
.mn {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.mn:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.light .mn:before {
  background: #091921;
}
.sec,
.sc {
  width: 230px;
  height: 230px;
}
.sec {
  position: absolute;
}
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.sc:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background: #008eff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
.toggleClass {
  position: absolute;
  top: 30px;
  right: 150px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  border-radius: 50%;
  background: #d1dae3;
  font-family: consolas;
  color: #d1dae3;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggleClass:before {
  position: absolute;
  content: 'Light Mode';
  white-space: nowrap;
  left: 25px;
}
.light .toggleClass {
  background: #091921;
  color: #091921;
}
.light .toggleClass:before {
  content: 'Dark Mode';
}
